{% extends 'basic.html' %}
{% load static %}
  {% block title %}WohSunehreDin{% endblock %}
  {% block linkstylesheet %}<link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">{% endblock %}
<!--Navigatiion Bar end-->
{% block body %}
  <div class="container">
    <div class="row">
      <div class="card-top h-20 p-3 rounded-3 col-sm-3" id="card1">
        <h2>Movies</h2>
        <p>The Movies section consists of all Ol Era movies ranging from the late 1940's to the mid 1980's.<br>Checkout your favourite movies by going to the page</p>
        <button class="btn btn-outline-light" type="button"><a href="/movies" style="text-decoration:none;">Movie's Page</a></button>
      </div>
      
      <div class="card-top h-20 p-3 rounded-3 col-sm-3" id="card2">
        <h2>Songs</h2>
        <p>The Songs section consists of some of the most popular songs from the OldEra and playlists that can suit every mood of yours.<br>Checkout your favourite songs by goin to the page.</p>
        <button class="btn btn-outline-light" type="button"><a href="/songs" style="text-decoration:none;">Song's Page</a></button>
      </div>
    
      <div class="card-top h-20 p-3 rounded-3 bot-div col-sm-3">
        <h2>Watch-List</h2>
        <p>Keep a check of movies watched and movies that still need to be watched.<br>Haven't finished your Watch-List yet?<br>Head to the page now!!</p>
        <button class="btn btn-outline-light" type="button"><a href="/watchlist" style="text-decoration:none;">Watch-List Page</a></button>
      </div>
    
      <div class="card-top h-20 p-3 rounded-3 bot-div col-sm-3" id="card2">
        <h2>Recommendations</h2>
        <p>Not able to pick a movie that matches your vibe??<br>The Recommendations Page is the place!!<br>Choose movies based on various genres,based on your interests.</p>
        <button class="btn btn-outline-light" type="button"><a href="/recommendations" style="text-decoration:none;">Recommendations Page</a></button>
      </div>
    </div>
  </div>
{% endblock %}

