{% extends 'basic.html' %}
    {% load static %}
    {% block title %}Movies{% endblock %}
    {% block linkstylesheet %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/movies.css' %}">
    {% endblock %} 

    {% block body %}

    <!-- Button trigger modal -->
<button type="button" class="btn btn-secondary btn-sm" id="addmov" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Search Movie</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Movie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/movies/" method="post">
            {% csrf_token %}
                <label for="name">Movie Name :</label>
                <input type="text" name="name">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="search">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% if image_pres %}
  <div class="container" id="cont">
    <img class="card-img-top" src="{{image_link}}" alt="Card image cap" style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 24%;
    padding-top: 8px;">
    <h3 class="card-title my-4" style="text-align:center;"><u>{{movie_name}}</u></h3>
    <p><h4><b>Plot</b>-{{Description}}</h4></p>
    <br>
    <h3><b>Starring</b>-{{Actor1}},{{Actor2}}</h3>
  </div>
  {% endif %}
 
        {% block jsdeclare %} <script src="{% static 'js/movies.js' %}"></script> {% endblock %}
    {% endblock %}

    