{% extends 'basic.html' %}
    {% load static %}
    {% block title %}Watch-List{% endblock %}
    {% block linkstylesheet %}<link rel="stylesheet" type="text/css" href="{% static '/css/watchlist.css' %}">{% endblock %}
    {% block body %}
    <table class="table">
        <thead>
          <tr class="col-md-8">
            <th scope="col">#</th>
            <th scope="col" id="pleft1">Movie</th>
            <th scope="col" id="pleft2">Status</th>
          </tr>
        </thead>
        <tbody id="app">
        </tbody>
      </table>
      <button class="btn btn-primary btnt">Add</button>
      <button class="btn btn-primary btnd">Delete</button>
      {% block jsdeclare %} <script src="{% static 'js/watchlist.js' %}"></script> {% endblock %}
    {% endblock %}